<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UINavDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B03D3A71C2BA003008D8955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B03D3C01C2BA003008D8955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B03D3CB1C2BA003008D8955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
